<div class="stackable celled divided grid cats ui"
      ng-class="{'center aligned':$ctrl.centeredView}">
  <div class="ui column vertical segment {{cat.mark}} {{$ctrl.wideCat(cat.id)}}"
      ng-repeat="cat in $ctrl.cats.cats"
      ng-class="{'darker': $ctrl.darkenedBg}"
    >
    <div class="ui label {{$ctrl.colorfulLabels ? cat.mark : ''}}"
        ng-class="{'big':$ctrl.columns !== 'six','large': $ctrl.columns === 'six', 'ribbon':!$ctrl.centeredView }"
        ng-if="cat.name !== ''"
    >
      {{$ctrl.cats.getLabel(cat.id);}}
    </div>
    <div class="ui images heroes-container"
          ng-class="{'small-portraits': !$ctrl.biggerCat(cat.id)}"
          >
      <div class="ui rounded image"
            ng-repeat="hero in cat.heroes"
            ng-hide="deleted"
          >
        <img ng-src="{{$ctrl.herolist.portraitLinkById(hero.value)}}" ng-model="hero" />
      </div>
    </div>
  </div>
</div>
<div class="ui loader"></div>
